<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.android.sbi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
                     android:maxSdkVersion="32" />
    <!-- For Android 13+, use READ_MEDIA_* instead of READ_EXTERNAL_STORAGE -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!-- For broad file access on Android 12+ (optional, more restricted approach) -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
                     tools:ignore="ScopedStorage" />

    <queries android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application android:name=".crypto.CryptoApplication"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/MainTheme"
                 android:usesCleartextTraffic="true">
        <activity
            android:name="client.ConfigurationActivity"
            android:exported="false" />
        <activity
            android:name="client.ClientActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.android.sbi.mds.MDServiceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="io.sbi.device" />
                <action android:name="io.tech.sbi.face.Info" />
                <action android:name="io.tech.sbi.face.Capture" />
                <action android:name="io.tech.sbi.finger.Info" />
                <action android:name="io.tech.sbi.finger.Capture" />
                <action android:name="io.tech.sbi.iris.Info" />
                <action android:name="io.tech.sbi.iris.Capture" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="io.android.sbi.device.CaptureActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="io.tech.sbi.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service
                android:name=".crypto.FCMService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>